@font-face {
    font-family: 'Font';
    src: url('MontserratAlternates-Regular.otf');
}
* {
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Font';
    background-image: url("bcg.jpg");
    display: block;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#dobrodoslica{
    color:#fff;
    text-align:center;
    font-family: monospace;
}
#adminMogucnost{
  color: #af7b6c;
  font-family: Font;
  text-align:center;
  font-size: 20px;
  padding:15px;
  margin-top:50px;
  margin-bottom:30px;

}
header{
    background-color:transparent;
    overflow:auto;
}

#row-1{
     background-color:transparent;

}
#editi{
  display: inline-block;
  width: auto;
  height: auto;
}
#onama{
  display: inline-block;
}

#row-1 img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

#logo{
    color: #570d9b;
    text-align: center;
    display:inline-table;
}

#menu{
    display: inline-block;;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
    float:right;
}

#menu li{
    float:left;
}
#menu li a{
    color: #570d9b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;

}
#menu li a:hover{
    background-color: #bbacaa;
}

#logo a{
    text-decoration: none;
    color: #f2f2f2;

}
#logo a img{
    width:150px;
}

#tekst{
  color: #fff;
  font-family:monospace;;
}
#row-1::after{
    content: "";
    clear: both;
    display: block;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;

}

#glavni{
     background-color: transparent;
     display: flex;
     width: 100%;
     padding: 0px;
     align-items:center;
}

#glavni button{
      font-size:40px;
      background-color:inherit;
      color: #ffffff;
}
#glavni img{
  display: inline-block;
  width: 600px;
  height: 500px;

}

.naslov{
    position: center;
}

.btn1{
    display:block;
    background-color: #7a858a;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding:10px 40px;
    border-radius:7px;
    margin-left:auto;
    margin-right:auto;
    border-color: #4f5355;
    text-align:center;
    font-family:Font;
}
.btnO{
      display:block;
      background-color: transparent;
      outline: none;
      color: #fff;
      font-size: 14px;
      height: auto;
      font-weight: normal;
      padding:10px 40px;
      border-radius:7px;
      margin-left:auto;
      margin-right:auto;
      border-color: #4f5355;
      text-align:center;
      font-family:Font;
      float: right;
}
.textStil1{
    border-radius:5px;
    height:30px;
    width:100%;
    margin-bottom:10px;
}
.zaboravioPas{
    text-decoration: underline;
    color:#ffffff;
}
.zaboravioPas:hover{
    color:#be766a;
}


#containerRL{
   background-color: transparent;
   width:35%;
   height:auto;
   margin-top:70px;
   margin-right:auto;
   margin-left:auto;
   border-radius:10px;
}


#tabbox{
    height:40px;
    border-bottom: 3px solid #e5d0d0;
    width:300px;
    max-width:300px;
}
#tabboxF{
    height:50px;
    border-bottom: 3px solid #e5d0d0;
    width:300px;
    max-width:300px;
}

.tab{
    display:block;
    width:50%;
    height:40px;
    line-height:40px;
    text-align:center;
    -webkit-border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
}
#tabbox a{
    float:left;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    margin-bottom:10px;

}

.SignIn{
    background-color: transparent;
    color:#ffffff;
}
.SignUp{
    background-color: transparent;
    color:#ffffff;
}
.Feedback{
    background-color: transparent;
    color:#ffffff;
}
.vrati{
    background-color: transparent;
    color:#ffffff;
}

label{
    display:block;
    padding:3px;
}

.textStil{
    border-radius:5px;
    height:25px;
    width:80%;
    font-family: monospace;;
    margin-bottom:10px;

}
.textStil2{
    border-radius:5px;
    height:auto;
    width:auto;
    font-family: monospace;;
    margin-bottom:10px;

}
.cxbCenter{
    display: inline-block;
    padding:10px 0px;
    color:#ffffff;
}
.btn{
    display: block;
    background-color: #7a858a;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding:10px 40px;
    border-radius:7px;
    border-color: #4f5355;
    margin-left: auto;
    margin-right: auto;

}
.btnA{
    display: block;
    background-color: #7a858a;
    outline: none;
    font: Font;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding:10px 30px;
    border-radius:7px;
    border-color: #4f5355;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;

}
a #link{
  text-decoration: none;
   display: block;
   height: 20px;
   width: auto;
}

#formPanel{
    background-color: transparent;
    width:250px;
    display: inline-block;
}
#formPanelFeedback{
    background-color: transparent;
    width:500px;
    display: inline-block;
}
#feedbackbox{
    background-color: transparent;
    width:500px;
    display: inline-block;
}
#prijaviSebox {
    padding:15px;
     width:300px;
    max-width:300px;
}

#registrujSebox{
    padding:15px;
     width:300px;
    max-width:300px;
}
#RegistracijaForma input{
  font-family: monospace;
}
#feedbackForma input{
  font-family: monospace;
}
#OmeniForma{
  font-family: monospace;
}
#LogInForma input{
  font-family: monospace;
}
#VratiForma input{
  font-family: monospace;
}
#Vratibox{
    padding:15px;
     width:300px;
    max-width:300px;
}
.text-center{
    padding:30px;
}

span{
    color:#ffffff;
}

#gallery{
    margin:auto;
    padding:30px;
}
#gallery #largeImgPanel {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(69, 69, 69, 0.83);
}

#gallery #largeImg{
    margin:auto;
    display:block;
}

#menu-trigger{
    display: none;
}

#gallery .img {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    text-align:center;
}


#gallery .img img {
    width: 200px;
    height: 200px;
}

#gallery .img:hover {
    border: 1px solid #777;
}

.desc {
    padding: 10px;
    text-align: center;
    color: #ffffff;
}


/*For tablets: */
@media only screen and (max-width: 700px){
    #menu-trigger{
        display: block;
    }
    #menu{
        display: none;
    }
    #glavni{
        display:block;
        align-items:center;
    }
      #glavni button{
      font-size:20px;
      width:100%;
    }

    #gallery .img{
        width: 40%;
    }
    .nav-expanded{
        display: block;
    }
    #menu ul li a{
      display: block;
        float:none;
        border-bottom: 1px solid;
    }
     #glavni img{
      display: inline-block;
      width: 100%;
      height: 100%;
     }
}

 /* For mobile phones: */
 @media only screen and (max-width: 500px){
    #menu-trigger{
        display: block;
    }
    #menu{
        display: none;
    }
    #glavni{
        display:block;
        align-items:center;
    }

    #glavni button{
      font-size:20px;
      width:100%;
    }

    .nav-expanded{
        display: block;
    }

    #menu ul li a{
        display:block;
       float:none;
        border-bottom: 1px solid;
    }

    #containerRL{
      width:100%;
      height:auto;
    }
    #containerF{
      width:100%;
      height:auto;
    }

    #gallery .img {
         width:100%;
         height:auto;
         margin: 2px;

    }
    #gallery .img img {
        width:100%;
        height:auto;
    }
    #glavni img{
      display: inline-block;
      width: 100%;
      height: 100%;
     }
 }

[class*="col-"]{
    width: 100%;
}

@media only screen and (min-width: 858px){
    /* For desktop: */
    .col-1 {width: 8.33%; }
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%; }
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%; }
    .col-9 {width: 75%; }
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
#copirajt{
  font-size: 2vh;
  margin: 2px;
  color: #570d9b;
  text-align: center;
  background-color: #000000;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  clear: both;
}
footer {
  clear: both;
  width:100%;
	height: auto;
  margin: 0;
	position:absolute;
	bottom:0;
}
#tabelaKor{
  display: table;
  border-collapse: separate;
  border-spacing: 20px;
  text-align: center;
  border-color: grey;
  background-color: #171a2a;
}
#tabelaKor th{
  color: #aa484b;
}
#tabelaKor td{
  font-family: monospace;
  font-size: 15px;
}
#tabelaFee{
  table-layout: fixed;
  display: table;
  border-collapse: separate;
  border-spacing: 20px;
  text-align: center;
  border-color: grey;
  background-color: #171a2a;
}
#tabelaFee th{
  color: #aa484b;
}
#tabelaFee td{
  font-family: monospace;
  font-size: 15px;
}
#pretraga{
  font-family: monospace;
}
